/* #2EA2CC */
/* #222 */
/* #333 */
/* #111 */
#bon_container .section-slider .controls .ui-slider {
    float: left;
    margin: 0;
    top: 8px;
    width: 268px;
    border: 1px solid #DDD;
    background: #EEE;
    color: #333;
    position: relative;
    text-align: left;
    height: .8em;
}
#bon_container .section-slider .controls .ui-slider .ui-slider-handle {
    cursor: pointer;
    background: #222;
    outline: none;
    position: absolute;
    z-index: 2;
    width: 19px;
    height: 19px;
    cursor: pointer;
    top: -4px;
    margin-left: -9px;
}
#bon_container .section-slider .controls .bon-input {
    float: right;
    width: 40px;
}
#bon_container {
    margin: 30px 20px 0 10px;
    max-width: 850px;
    position: relative;
    z-index: 0;
}
#bon_container a {
	outline: none;
}
#bon_container #header {
    height: 80px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
}
#bon_container #header .logo {
    float: left;
    margin: 15px 0 0 25px;
    height: 35px;
}
#bon_container #header .theme-info {
    float: right;
    margin: 22px 25px 0 0;
}
#bon_container #header .theme-info span {
    display: block;
    line-height: 18px;
    text-align: right;
}
#bon_container #header .theme-info .theme {
    font-size: 15px;
    font-weight: bold;
}
#bon_container #header .theme-info .framework { font-size: 11px }
#bon_container #header .theme-info b {
    font-size: 11px;
    text-transform: none;
    font-weight: 100;
}
#bon_container #support-links {
    height: 42px;
}
#bon_container #support-links ul { margin: 0 }
#bon_container #support-links ul li {
    float: left;
    margin-bottom: 0px;
}
#bon_container #support-links ul li.right { 
	border: none;
	height: 100%;
	line-height: 37px;
}
#bon_container #support-links ul li.right input { border: none; vertical-align: middle;}
#bon_container #support-links ul li a {
    padding: 0 12px;
    display: block;
}
#bon_container #support-links ul li a:link,
#support-links ul li a:visited {
    line-height: 42px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
#bon_container #support-links ul li.right {
    float: right;
    margin-right: 15px;
}
#bon_container #main {
    position: relative;
}
#bon_container #main #content {
    position: relative;
    margin-left: 190px;
}
#bon_container #bon-nav-shadow {
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: transparent url(../images/menu-shadow.png) repeat-y top right;
    width: 6px;
    z-index: 999;
}
#bon_container #bonform { position: relative }
#bon_container #bon-nav {
    float: left;
    position: absolute;
    z-index: 9999;
    width: 190px;
    top: 0;
    bottom: 0;
}
#bon_container.add #bonform-content-builder #bon-nav,
#bon_container.edit #bonform-content-builder #bon-nav { top: 150px }
#bon_container #bon-nav ul { margin: 0 }
#bon_container #bon-nav li {
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}
#bon_container #bon-nav ul li a:link,
#bon-nav ul li a:visited {
    display: block;
    padding: 10px;
    text-decoration: none;
}
#bon-nav ul li > a {
	position: relative;
}
#bon-nav ul li.current > a:after, #bon-nav ul li.has-children:hover > a:after, #bon-nav ul li.open > a:after {
	border: 8px solid transparent;
	content:"";
	height: 0;
	width: 0;
	margin-top: -8px;
	position: absolute;
	right: 0;
	top: 50%;
	pointer-events: none;
}
#bon_container #bon-nav li ul {
    padding: 5px 0;
}
body.js #bon_container #bon-nav ul.sub-menu {
    display: none;
}
#wpwrap #bon_container #bon-nav li.top-level:hover .flyout-menu { display: block }
#wpwrap #bon_container #bon-nav li.top-level.open:hover .flyout-menu { display: none }
body.js #bon_container #bon-nav .flyout-menu {
    z-index: 99999;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
}
body.js #bon_container #bon-nav .flyout-menu ul {
    padding: 8px 0;
    line-height: 1.6;
}
#wpwrap #bon_container #bon-nav .flyout-menu li a { display: block; }
body.js #bon_container #bon-nav li.open .flyout-menu { display: none }
#wpwrap #bon_container #bon-nav .sub-menu a,
#wpwrap #bon_container #bon-nav .flyout-menu a {
    padding: 5px 5px 5px 15px;
    font-weight: normal;
}
#wpwrap #bon_container #bon-nav .sub-menu .active a,
#wpwrap #bon_container #bon-nav .flyout-menu .active a {
    font-weight: bold;
}

/* #2EA2CC */
/* #222 */
/* #333 */
/* #111 */
/* #52ACCC */

 #bon_container #header {
    background: #2EA2CC;
    border-bottom: 1px solid #222;
}
 #bon_container #support-links {
    border-bottom: 1px solid #222;
}
 #bon_container #support-links ul li {
    border-right: 1px solid #222;
}
#bon_container #main {
    background: #fff;
}
 #bon_container #support-links ul li a:hover,
 #bon_container #bon-nav {
    background: #222;
}

 #bon_container #header .theme-info span,
 #bon_container #support-links ul li a:link,
 #support-links ul li a:visited,
 #bon_container #bon-nav ul li a:link,
 #bon-nav ul li a:visited {
    color: #eee;
}
 #bon-nav ul li.has-children:hover > a:after {
    border-right-color: #333;
}
 #bon-nav ul li.current > a:after, 
 #bon-nav ul li.open > a:after, 
 #bon-nav ul li.open:hover > a:after {
    border-right-color: #fff;
}
 #bon_container #bon-nav ul li.current a:link,
 #bon_container #bon-nav ul li.current a:visited {
    background-color: #0074A2;
    color: #fff;
}
 #bon_container #bon-nav ul li a:hover, 
 #bon_container #support-links ul li a:hover {
    color: #2EA2CC;
}
 #bon_container #bon-nav ul li a:hover {
    background-color: #111;
}
 #bon_container #support-links, 
 #bon_container #bon-nav li ul,
body.js #bon_container #bon-nav .flyout-menu,
 #wpwrap #bon_container #bon-nav .sub-menu a,
 #wpwrap #bon_container #bon-nav .flyout-menu a {
    background: #333;
}
body.js #bon_container #bon-nav .flyout-menu {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
 #wpwrap #bon_container #bon-nav .sub-menu a,
 #wpwrap #bon_container #bon-nav .flyout-menu a {
    color: #bbb;
}
 #wpwrap #bon_container #bon-nav .sub-menu a:hover,
 #wpwrap #bon_container #bon-nav .flyout-menu a:hover {
    color: #2EA2CC;
}
 #wpwrap #bon_container #bon-nav .sub-menu .active a,
 #wpwrap #bon_container #bon-nav .flyout-menu .active a {
    color: #fff;
}

#bon_container #support-links ul li.right {
    border: none;
}
#bon_container #content {
    float: left;
    min-height: 650px;
    padding: 0 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*background-color: #fff;*/
}
#bon_container #content .group h1 {
    display: none;
    padding: 20px 0;
    margin: 0 0 20px;
    font-size: 23px;
    color: #464646;
    font-weight: normal;
    border-bottom: 1px solid #e0e0e0;
}
#bon_container #content .section {
    margin-bottom: 10px;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 15px;
}
#bon_container #content .section h3.heading {
    font-size: 1.1em;
    margin: 15px 0 5px;
    padding: 7px 0px;
}
#bon_container #content .section.section-info {
    border-bottom: none;
    margin: 0;
    padding: 0;
}
#bon_container #content .section .controls {
    float: left;
    width: 345px;
    margin: 0 15px 0 0;
}
#bon_container #content .section .controls.with-editor {
    float: none;
    width: auto;
    margin: 0 15px 0 0;
}
#bon_container #content .section .explain {
    float: left;
    width: 235px;
    padding: 0 0 0 0;
    font-size: 11px;
    color: #999999;
    font-family: sans-serif;
}
#bon_container #content .section-checkbox .controls { width: 25px }
#bon_container #content .section-checkbox .explain { width: 540px }
#bon_container #content .section-color .controls { width: 100% }
#bon_container #content .section-color .explain { width: 440px }
.backup-info,
#bon_container #content .section-info .controls {
    margin: 20px 0 10px;
    padding: 15px 20px;
    width: auto;
    line-height: 1.5em;
    font-size: 14px;
    font-style: italic;
    font-family: Georgia, serif;
    background: #98deff;
    border: 1px solid #52adec;
    color: #424242;
}
#bon_container #content .section-info .controls small { font-size: 12px }
.backup-info li {
    list-style: outside disc;
    margin-left: 25px;
}
.backup-info { width: 80% }
#bon_container #content .section-info h3.heading {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}
#bon_container #content .section-info .controls {
    float: none;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}
#bon_container #content textarea,
#bon_container #content input[type="text"],
#bon_container #content input[type="email"],
#bon_container #content select {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
#bon_container #content textarea.wp-editor-area { border: none }
#bon_container input[type="checkbox"],
#bon_container input[type="radio"] { vertical-align: baseline }
#bon_container .controls input[type="text"],
#bon_container .controls input[type="email"],
#bon_container .controls select,
#bon_container .controls.not-width-editor textarea {
    margin-bottom: 9px !important;
    background-color: #fafafa;
    border: 1px solid;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    width: 340px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 12px;
    color: #555;
}
#bon_container .controls input:hover,
#bon_container .controls select:hover,
#bon_container .controls textarea:hover {
    color: #333;
    background: #fff;
}
#bon_container .controls input.upload {
    width: 279px;
    padding-bottom: 6px;
}
#bon_container .controls input.upload-button,
#bon_container .controls input.remove-file {
    font-size: 12px;
    float: right;
    width: 55px;
    height: 28px;
    border-color: #BBBBBB;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    padding-top: 1px;
}
#bon_container .controls input.upload-button:hover,
#bon_container .controls input.remove-file:hover {
    border-color: #999999;
    color: #000000;
}
body.version-3-4-1 #bon_container .controls input.upload_button,
body.version-3-4-2 #bon_container .controls input.upload_button { height: 25px }
#bon_container .section-upload_min .controls input.upload_button { float: left }
#bon_container .screenshot {
    float: left;
    margin-left: 1px;
    position: relative;
    width: 344px;
    margin-top: 3px;
    z-index: 1;
}
#bon_container .screenshot img {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -border-radius: 4px;
    background: #FAFAFA;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    float: left;
    max-width: 334px;
    padding: 4px;
}
#bon_container .screenshot .remove-image,
#bon_container .typography-preview-container .preview_remove {
    background: url("../images/ico-delete.png") no-repeat;
    border: medium none;
    bottom: -4px;
    display: block;
    float: left;
    height: 16px;
    padding: 0;
    position: absolute;
    left: -4px;
    text-indent: -9999px;
    width: 16px;
    cursor: pointer;
    outline: none;
}
#bon_container .screenshot .no_image .file_link { margin-left: 20px }
#bon_container .screenshot .no_image .mlu_remove { bottom: 0px }
#bon_container #content select.bon-input {
    cursor: pointer;
    height: 30px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    width: inherit;
    z-index: 4;
}
#bon_container #content .select_wrapper {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 12px;
    background: #fafafa url(../images/select.png) no-repeat right center;
    border-color: #ccc #eee #eee #ccc;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 26px;
    width: 344px;
    margin: 0;
    margin-bottom: 9px !important;
    width: 344px;
    display: block;
    color: #555;
}
#bon_container #content .option-type .select_wrapper { background-color: #fff }
#bon_container #content .select_wrapper:hover {
    background-color: #fff;
    border-color: #bbb #eee #eee #bbb;
    color: #333;
}
#bon_container #content .select_wrapper span {
    height: 26px;
    line-height: 26px;
    position: absolute;
    z-index: 2;
    padding-left: 6px;
}
#bon_container .colorSelector { margin-top: 1px }
#bon_container .colorSelector:hover { cursor: pointer }
#bon_container .controls select {
    padding: 6px 4px;
    width: 340px;
}
#bon_container .controls select:hover { cursor: pointer }
#bon_container .controls.not-with-editor textarea { width: 345px }
#bon_container input[type=text],
#bon_container select { height: 30px }
#bon_container input[type=text] { width: 340px }
#bon_container input.bon-input-calendar { width: 320px }
#bon_container input.checkbox { width: 30px }
#bon_container input.bon-radio { width: 30px }
#bon_container .controls .radio-wrapper { margin: 0 0 10px 0 }
#bon_container .controls .radio-wrapper input { margin-bottom: 0 !important }
#bon_container .controls .input-text-small {
    width: 60px;
    margin-right: 10px;
}
#bon_container .meta-two { margin-right: 10px }
#bon_container #content .section-typography .controls { width: 440px }
#bon_container #content .section-typography .explain { width: 140px }
#bon_container .controls .bon-typography-size {
    width: 50px;
    float: left;
}
#bon_container .controls .bon-typography-unit {
    width: 50px;
    float: left;
}
#bon_container .controls .bon-typography-face {
    width: 100px;
    float: left;
}
#bon_container .controls .bon-typography-style {
    width: 80px;
    float: left;
}
#bon_container .controls .bon-typography-preview-button {
    float: left;
    margin: 3px 0 0 5px;
    padding-top: 3px;
}
#bon_container .controls .bon-typography-preview-button span {
    background: transparent url(../images/ico-preview.png) no-repeat center center;
    display: block;
    text-indent: -9999px;
    width: 14px;
    height: 16px;
}
#bon_container .controls .bon-typography-preview-button span.refresh { background-image: url(../images/ico-refresh.png) }
#bon_container .typography-preview-container { clear: both }
#bon_container .typography-preview-container .preview_remove {
    position: relative;
    float: right;
    margin-bottom: -10px;
    margin-right: -10px;
    z-index: 99;
}
#bon_container .typography-preview {
    word-wrap: break-word;
    clear: both;
    padding: 20px;
    border: 1px solid #CCCCCC;
    background: #FDFDFD;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.wf-loading #bon_container .typography-preview.current { background: #fdfdfd url(../images/loading-bottom.gif) no-repeat 560px center }
#bon_container .controls .bon-radio-img-img {
    border: 3px solid #dedede;
    margin: 0 5px 10px 0;
    display: none;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#bon_container .controls .bon-radio-img-selected {
    border: 3px solid #aaa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#bon_container .controls .bon-border-width {
    width: 80px;
    float: left;
}
#bon_container .controls .bon-border-style {
    width: 120px;
    float: left;
}
#bon_container .section-timestamp .controls .ui-datepicker-trigger {
    float: left;
    position: relative;
    top: 7px;
}
#bon_container .section-timestamp .bon-timestamp-at {
    position: relative;
    top: 2px;
    margin: 0 5px;
}
#bon_container .section-timestamp .controls input.bon-input-calendar {
    width: 195px;
    float: right;
}
#bon_container .section-timestamp .controls .time-selectors { float: right }
#bon_container .controls select.bon-select-timestamp { width: 50px }
#bon_container .controls .bon-typography-size {
    width: 80px;
    float: left;
}
#bon_container .controls .bon-typography-unit {
    width: 50px;
    margin-left: 5px;
    float: left;
}
#bon_container .controls .bon-typography-face {
    width: 100px;
    margin-left: 5px;
    float: left;
}
#bon_container .controls .bon-typography-style {
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}
#bon_container .group { padding-bottom: 20px }
#bon_container #content input:focus,
#bon_container #content select:focus,
#bon_container #content textarea:focus { background: #fff }
#bon_container .happy {
    background: #DBF6BE no-repeat 10px center;
    border: solid #9BBF65;
    border-width: 0px 1px 1px 1px;
    color: #060;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#bon_container .warning {
    background: #ffeeee no-repeat 10px center;
    border: solid #dfbfbf;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#bon_container .update_available {
    background: #FFFEEB no-repeat 10px center;
    border: solid #CCCCCC;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#bon_container .bon-save-popup {
    position: absolute;
    -moz-border-radius: 12px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: none;
    z-index: 10;
}
#bon_container .bon-save-save {
    background: url(../images/happy.png) 20px 50% no-repeat;
    padding: 30px 30px 30px 70px;
}
#bon_container .bon-save-reset {
    background: url(../images/warning.png) 20px 50% no-repeat;
    padding: 30px 30px 30px 70px;
}
.upload_button_div { margin-bottom: 10px }
.upload_button_div .button { padding: 4px 14px }
.upload_button_div .image_reset_button { margin-left: 10px }
.upload-error {
    float: left;
    color: #666;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    margin: 0 10px 0 0;
    padding: 3px 10px;
    background: #FFDFEC;
    -moz-border-radius: 4px;
}
.reset-button {
    color: #c77 !important;
    text-shadow: 0 1px 0 #fff !important;
}
.reset-button:hover { border-color: #c77 !important }
.save_bar_top {
    background: #dedede;
    padding: 10px 20px 0px 20px;
    height: 35px;
    text-align: right;
}
#bonform-reset { float: left }
.hide { display: none }
.ajax-loading-img-top {
    margin: 8px 4px 0;
    float: left;
}
.bon-option-image { max-width: 340px }
#bon_container #content .section-radio-img { width: 100% }
#bon_container #content .section-radio-img li.radio-img {
    display: inline-block;
    margin-right: 5px;
}
#bon_container #content .section-radio-img .radio-img-img {
    border: 3px solid #f9f9f9;
    margin: 0 5px 10px 0;
    display: none;
    cursor: pointer;
    float: left;
}
#bon_container #content .section-radio-img .radio-img-selected { border: 3px solid #ccc }
#bon_container #content .section-radio-img .radio-img-img:hover { opacity: .8 }
#bon_container .mini .controls select,
#bon_container #content .section .mini .controls { width: 70px }
#bon_container .mini .controls input,
#bon_container #content .mini .controls { width: 70px }
#bon_container #content .mini .explain { width: 500px }
.bon-notice {
    background: #ffd1d1;
    border: 1px solid #DFA8A7;
    -moz-border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
}
#bon_container h3 { margin: 0 0 10px 0 }
#bon_container h3 span {
    font-size: 10px;
    color: #ccc;
}
#menu-container .inside { padding-bottom: 10px }
.menu { padding-top: 1em }
#menu-to-edit { padding: 1em 0 }
.menu ul { width: 100% }
.menu li {
    margin-bottom: 0;
    position: relative;
}
.menu-item-bar {
    clear: both;
    line-height: 1.5em;
    position: relative;
    margin-top: 13px;
}
.menu-item-handle {
    border: 1px solid #E6E6E6;
    position: relative;
    padding-left: 10px;
    height: auto;
    width: 400px;
    line-height: 35px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    word-wrap: break-word;
}
.menu-item-edit-active .menu-item-handle {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.no-js .menu-item-edit-active .item-edit { display: none }
.js .menu-item-handle { cursor: move }
.menu li.deleting .menu-item-handle {
    background-color: #f66;
    background-image: none;
    text-shadow: 0 0 0 #ccc;
}
.menu-item-handle .item-title {
    padding: 7px 0;
    line-height: 20px;
    display: block;
    margin-right: 13em;
}
.item-type {
    text-transform: uppercase;
    font-size: 11px;
    color: #999999;
    padding-right: 10px;
}
.item-controls {
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: -1px;
}
.item-controls a { text-decoration: none }
.item-controls a:hover { cursor: pointer }
.item-controls .item-order { padding-right: 10px }
.item-controls .item-order a { font-weight: bold }
body.js .item-order { display: none }
.item-controls .menu-item-delete:hover { color: #ff0000 }
.item-edit {
    background: url("../../../../wp-admin/../images/menu-bits.gif?ver=20100610") no-repeat scroll 0 -105px;
    position: absolute;
    right: -20px;
    top: 0;
    display: block;
    width: 23px;
    height: 36px;
    overflow: hidden;
    text-indent: -999em;
    border-bottom: 1px solid #eee;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.menu-instructions-inactive { display: none }
.menu-item-settings {
    background: #F9F9F9;
    display: block;
    width: 492px;
    padding: 10px 0 10px 10px;
    border: solid #E6E6E6;
    border-width: 0 1px 1px 1px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
}
.menu-item-settings:after {
    clear: both;
    content: '.';
    display: block;
    height: 0px;
    visibility: hidden;
}
.menu-item-settings input { width: 100% !important }
.menu-item-edit-active .menu-item-settings { display: block }
.menu-item-edit-inactive .menu-item-settings { display: none }
.add-menu-item-pagelinks {
    margin: .5em auto;
    text-align: center;
}
.link-to-original {
    display: block;
    margin: 0 0 10px;
    padding: 3px 5px 5px;
    font-size: 11px;
    color: #777;
    font-style: italic;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}
.link-to-original a {
    padding-left: 4px;
    font-style: normal;
}
.hidden-field { display: none }
.menu-item-settings .description-thin,
.menu-item-settings .description-wide {
    margin-right: 10px;
    float: left;
}
.description-thin {
    width: 190px;
    height: 40px;
}
.description-wide { width: 390px }
.menu-item-actions { padding-top: 15px }
#cancel-save { cursor: pointer }
#cancel-save:hover { color: #fff !important }
#update-menu-item { color: #fff !important }
#update-menu-item:hover,
#update-menu-item:active,
#update-menu-item:focus {
    color: #eaf2fa !important;
    border-color: #13455b !important;
}

#bon_container #bon-nav ul li i.icon:before {
    font-family: "bonicon";
    font-size: 14px;
    vertical-align: top;
    width: 22px;
    content: "\e600";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    speak: none;
    font-variant: normal;
    text-transform: none;
    vertical-align: top;
}
#bon_container #bon-nav ul li > a {
    vertical-align: top;
}
#bon_container #bon-nav ul li.general i.icon:before { content: "\e600"; }
#bon_container #bon-nav ul li.styling i.icon:before { content: "\e60c"; }
#bon_container #bon-nav ul li.typography i.icon:before { content: "\e60d"; }
#bon_container #bon-nav ul li.image i.icon:before { content: "\e60e"; }
#bon_container #bon-nav ul li.ads i.icon:before { content: "\e601"; }
#bon_container #bon-nav ul li.homepage i.icon:before { content: "\e610"; }
#bon_container #bon-nav ul li.woocommerce i.icon:before { content: "\e602"; }
#bon_container #bon-nav ul li.media i.icon:before { content: "\e60f"; }
#bon_container #bon-nav ul li.slider i.icon:before { content: "\f181"; }
#bon_container #bon-nav ul li.layout i.icon:before { content: "\e60b"; }
#bon_container #bon-nav ul li.header i.icon:before { content: "\e617"; }
#bon_container #bon-nav ul li.featured i.icon:before { content: ""; }
#bon_container #bon-nav ul li.main i.icon:before { content: ""; }
#bon_container #bon-nav ul li.sidebar i.icon:before { content: "\e618"; }
#bon_container #bon-nav ul li.footer i.icon:before { content: "\e616"; }
#bon_container #bon-nav ul li.portfolio i.icon:before { content: ""; }
#bon_container #bon-nav ul li.nav i.icon:before { content: ""; }
#bon_container #bon-nav ul li.misc i.icon:before { content: ""; }
#bon_container #bon-nav ul li.listing i.icon:before { font-size: 16px; font-family: "dashicons"; content: "\f203"; }
#bon_container #bon-nav ul li.post i.icon:before { content: ""; }
#bon_container #bon-nav ul li.connect i.icon:before { font-size: 16px; font-family: "dashicons"; content: "\f237"; }
#bon_container #bon-nav ul li.branding i.icon:before { content: "\e613"; }
#bon_container #bon-nav ul li.controller i.icon:before { content: "\e609"; }
#bon_container #bon-nav ul li.color i.icon:before { font-size: 16px; font-family: "dashicons"; content: "\f309"; }
#bon_container #bon-nav ul li.wp i.icon:before { font-size: 16px; font-family: "dashicons"; content: "\f120"; }

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#bon_container .controls input.bon-color {
    float: left;
    width: 70px;
    height: 25px;
    margin: 0 0 0 5px !important;
    *zoom: 1;
}
.CodeMirror {
    background-color: #F6F6F6;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
}
.CodeMirror-scroll {
    height: auto !important;
    min-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.CodeMirror-fullscreen {
    border: 0 solid #BBBBBB;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.CodeMirror-gutter {
    background-color: #DDDDDD;
    border-right: 1px solid #CCCCCC;
}
.CodeMirror-gutter-text { color: #666666 }
#bon_container #content .section.code_mirror .controls,
#bon_container #content .section-editor .explain,
#bon_container #content .section.code_mirror .explain { width: 100%; }
.meta_box_file {
    display: block;
    width: 37px;
    height: 48px;
    background: url(../images/sprite.png) 0 0;
    float: left;
    margin-right: 15px;
}
.meta_box_file.checked { background-position: -50px 0 }
.meta_box_filename {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
#bon_container #content .section-repeatable .controls,
#bon_container #content .section-repeatable .explain { width: 100% }
#bon_container .meta_box_repeatable th {
    width: auto !important;
    padding: 5px 10px;
    border-bottom: 1px dashed #ccc;
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: none;
}
#bon_container .meta_box_repeatable tfoot th { border-bottom: none }
#bon_container .meta_box_repeatable td {
    width: auto !important;
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    background: #eee;
}
#bon_container .meta_box_repeatable tr:nth-child(even) td { background: none }
#bon_container .meta_box_repeatable td * {
    display: block;
    margin-bottom: 3px;
}
#bon_container .meta_box_repeatable td .meta_box_upload_image_button,
#bon_container .meta_box_repeatable td small,
#bon_container .meta_box_repeatable td small a { display: inline-block }
#bon_container .meta_box_repeatable td label {
    display: block;
    float: left;
    width: 100px;
    font-weight: bold;
    line-height: 30px;
    clear: left;
}
#bon_container .meta_box_repeatable td fieldset {
    margin: 0;
    width: 100%;
    padding: 5px 0;
    vertical-align: middle;
    display: inline-block;
}
#bon_container .meta_box_repeatable td textarea { width: 300px }
#bon_container .meta_box_repeatable .repeatable_id {
    background: #ccc;
    width: 30px;
    text-align: center;
}
.meta_box_repeatable .sort_label {
    display: block;
    width: 20px;
    height: 17px;
    background: url(../images/sprite.png) no-repeat -68px -100px;
}
.meta_box_repeatable .sort {
    display: block;
    width: 20px;
    height: 15px;
    background: url(../images/sprite.png) 0 -100px;
    margin-top: 6px;
    cursor: move;
}
.meta_box_repeatable_add,
.meta_box_repeatable_remove {
    display: block;
    width: 18px;
    height: 16px;
    background: url(../images/sprite.png);
    margin-top: 5px;
}
.meta_box_repeatable_add { background-position: -30px -100px }
.meta_box_repeatable_remove { background-position: -50px -100px }
.meta_box_repeatable tr:first-child .meta_box_repeatable_remove,
.meta_box_repeatable tr:first-child>td>.sort { display: none }
#bon_container .section-repeatable .controls input[type="text"],
#bon_container .section-repeatable .controls input[type="email"],
#bon_container .section-repeatable .controls select,
#bon_container .section-repeatable .controls textarea {
    width: 25em;
    padding: 3px;
    height: auto;
    background: #fcfcfc;
}
#bon_container .section-repeatable .controls input.upload {
    width: 19.5em;
    display: inline-block;
}
#bon_container .section-repeatable .controls div.screenshot { margin-left: 100px }
#bon_container .section-repeatable .controls input.remove-button,
#bon_container .section-repeatable .controls input.upload-button {
    display: inline-block;
    float: none;
    margin-left: .5em;
}
#bon_container .meta_box_repeatable tr:first-child .meta_box_repeatable_remove,
#bon_container .meta_box_repeatable tr:first-child>td>.sort { display: none }


@font-face {
    font-family: 'bonicon';
    src:url('../fonts/bonicon.eot');
    src:url('../fonts/bonicon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bonicon.woff') format('woff'),
        url('../fonts/bonicon.ttf') format('truetype'),
        url('../fonts/bonicon.svg#bonicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bon-icon {
    font-family: 'bonicon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bon-icon-cog:before {
    content: "\e600";
}
.bon-icon-bullhorn:before {
    content: "\e601";
}
.bon-icon-shopping-cart:before {
    content: "\e602";
}
.bon-icon-briefcase:before {
    content: "\e603";
}
.bon-icon-star:before {
    content: "\e604";
}
.bon-icon-star-half-full:before {
    content: "\e605";
}
.bon-icon-search:before {
    content: "\e606";
}
.bon-icon-reorder:before {
    content: "\e607";
}
.bon-icon-sitemap:before {
    content: "\e608";
}
.bon-icon-gamepad:before {
    content: "\e609";
}
.bon-icon-facetime-video:before {
    content: "\e60a";
}
.bon-icon-columns:before {
    content: "\e60b";
}
.bon-icon-brush:before {
    content: "\e60c";
}
.bon-icon-font:before {
    content: "\e60d";
}
.bon-icon-image:before {
    content: "\e60e";
}
.bon-icon-images:before {
    content: "\e60f";
}
.bon-icon-home:before {
    content: "\e610";
}
.bon-icon-wordpress:before {
    content: "\e611";
}
.bon-icon-key:before {
    content: "\e612";
}
.bon-icon-vcard:before {
    content: "\e613";
}
.bon-icon-music:before {
    content: "\e614";
}
.bon-icon-sidebar:before {
    content: "\e615";
}
.bon-icon-footer:before {
    content: "\e616";
}
.bon-icon-header:before {
    content: "\e617";
}
.bon-icon-sidebar2:before {
    content: "\e618";
}

@media only screen and (max-width: 768px) {
    #bon_container {
        max-width: 700px !important;
    }
    #support-links {
        display: none !important;
    }
    #bon_container #bon-nav {
        width: 120px;
    }
    #bon_container #bon-nav ul li > a {
        font-size: 10px;
    }
    #bon_container #bon-nav ul li > a i {
        font-size: 10px;
    }
    #bon_container #content {
        margin-left: 120px !important; 
    }
    #bon_container #content .section .explain {
        float: none !important;
        display: block !important;
        font-size: 10px;
        overflow: hidden;
        clear: both;
        width: 100%;
    }
    #bon_container .section,
    #bon_container .section .option,
    #bon_container .section .option .controls,
    #bon_container .section .option .controls input[type="text"],
    #bon_container .section .option .controls input[type="email"],
    #bon_container .section .option .controls select,
    #bon_container .section .option .controls textarea {
        width: auto !important;
    }
    #bon_container .section,
    #bon_container .section .controls,
    #bon_container .section .option .controls input.upload-button,
    #bon_container .section .option .controls input.remove-file {
        float: none !important;
    }
    #bon_container .screenshot {
        float: none;
        margin-left: 0;
        width: auto;
    }
    .save_bar_top {
        height: 50px;
    }
}
@media only screen and (max-width: 480px) {
    #bon_container {
        width: 410px !important;
    }
}