@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/BebasNeue-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/BebasNeue-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/BebasNeue-webfont.svg#BebasNeue') format('svg'); /* Legacy iOS */
}